<!DOCTYPE html>
<html>
<head>
    <title>Predict Customer Churn for TrustTelecom</title>
</head>
<body>
    <div>
        <h1>Predict Customer Churn for TrustTelecom</h1>
        <form method="POST">
            <label for="tenure_months">Tenure Months:</label>
                <input type="number" id="tenure_months" name="tenure_months" required><br><br>

            <label for="total_monthly_fee">Total Monthly Fee:</label>
                <input type="number" step="0.01" id="total_monthly_fee" name="total_monthly_fee" required><br><br>

            <label for="has_internet_service">Has Internet Service?:</label>
                <select id="has_internet_service" name="has_internet_service" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
            
            <label for="contract_type">Contract Type:</label>
                <select id="contract_type" name="contract_type" required>
                <option value="Month-to-Month">Month-to-Month</option>
                <option value="One Year">One Year</option>
                <option value="Two Year">Two Year</option>
                </select>
            
            <label for="num_referrals">Number of Referrals:</label>
                <input type="number" id="num_referrals" name="num_referrals" required><br><br>

            <label for="num_dependents">Number of Dependents:</label>
                <input type="number" id="num_dependents" name="num_dependents" required><br><br>

            <label for="married">Married?:</label>
                <select id="married" name="married" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>

            <label for="has_online_security">Has Online Security?:</label>
                <select id="has_online_security" name="has_online_security" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>

            <label for="stream_movie">Stream Movie?:</label>
                <select id="stream_movie" name="stream_movie" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
            
            <label for="stream_music">Stream Music?:</label>
                <select id="stream_music" name="stream_music" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
            
            <label for="age">Age:</label>
                <input type="number" id="age" name="age" required><br><br>
                        
            <input type="submit" value="Predict">
        </form>

        {% if prediction_label is defined %}
	          <h2>Model prediction: {{ prediction_label }}</h2>
              <h2>Predicted churn probability: {{ prediction_proba }}</h2>
	      {% endif %}

    </div>
</body>
</html>
